.banner {
  width: 100vw;
  padding: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.banner_heading {
  text-align: center;
  margin: 28px;
}
.banner_text {
  font-weight: 900;
  font-size: 28px;
  color: var(--blue-600);
}
.ielts {
  color: var(--blue-500);
}
.tagline {
  color: var(--blue-700);
  font-size: 1rem;
  margin-top: -10px;
}
.banner-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.view-desktop {
  display: none;
}
.banner_img {
  margin-top: 28px;
}
.discount-path {
  position: absolute;
  left: 2rem;
  top: 7rem;
}

.course-offerings-wrapper {
  display: flex;
  text-align: center;
  color: var(--blue-700);
  font-size: 12px;
  font-weight: 700;
  /* margin: auto; */
}
.view-batch-cta {
  background-color: var(--blue-500);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 1rem 0;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.icon-svg {
  border-left: 2px solid var(--grey-400);
  border-right: 2px solid var(--grey-400);
}
@media (min-width: 768px) {
  .banner {
    display: block;
    width: 100%;
    text-align: left;
    padding-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .banner_text {
    font-size: 44px;
  }
  .banner_heading,
  .tagline {
    margin: 28px 0;
    text-align: left;
  }
  .banner-img-wrapper {
    text-align: right;
  }
  .discount-path {
    left: 8.5rem;
    top: 11rem;
  }
  .view-batch-cta {
    width: 100%;
  }
  .course-offerings-wrapper > * {
    align-items: flex-start;
  }
  .banner_img {
    margin-top: 3rem;
    width: 85%;
    min-height: 400px;
  }
  .view-mobile {
    display: none;
  }
  .view-desktop {
    display: block;
  }
  .display-grid {
    max-width: 1110px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
