.mobile-section-wrapper{
    background: url("./assets/Mobile\ Section.png");
    height: 17.562rem;
    background-size:100% 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 0 1.125rem;
}
.desc>*{
    margin-bottom: 1rem;
}
.google-badge{
    width: 9.25rem;
    height: 2.75rem;
}
.android{
    font-weight: 700;
    font-size: 1rem;
}

@media(min-width:768px){
    .mobile-section-wrapper{
        background: url("./assets/Mobile\ Section@2x.png");
        height: 45.625rem;
        background-size:100% 100%;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        padding: 0 1.125rem;
    }
    .desc{
        padding:7rem
    }
    .desc_heading{
        font-size: 3rem;
        font-weight: 900;
    }
    .f-bold{
        font-weight: 900;
    }
    .android{
        font-size: 1.75rem;
        font-weight: 400;
    }
    .google-badge{
        width: 14.625rem;
        height: 4.375rem;
        margin-top: 4rem;
    }
}