
.nav-wrapper-width {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  box-shadow: 0px 3px 6px #00000029;
}

.nav-wrapper {
  height: 3.625rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1155px;
  margin: auto;
}

.logo-wrapper {
  padding: 0.56rem 1rem;
  display: flex;
  align-items: center;
}

.brand {
  color: var(--blue-500);
  font-size: 1.35rem;
  font-weight: bold;
  margin-left: 6px;
}

.logo-img {
  height: 3.125rem;
}

.nav-item {
  color: var(--grey-500);
}
.checkbtn {
  font-size: 1.875rem;
  color: var(--blue-500);
  cursor: pointer;
  padding: 0.56rem 1rem;
}

#check {
  display: none;
}

.list-wrapper {
  list-style: none;
  width: 100vw;
  height: calc(100vh - 58px);
  overflow: auto;
  padding: 1.25rem;
  position: fixed;
  top: 3.625rem;
  background-color: white;
  transition: transform 0.5s ease;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
}
.nav-item {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 1.2rem;
  cursor: pointer;
}
.nav-item .view-batch-cta {
  margin: 0;
  width: 100%;
  height: auto;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid var(--blue-500);
  color: var(--blue-500);
  height: auto;
}
.link-with-icon {
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--grey-500);
}
.link-icon {
  padding-left: 0.25rem;
  position: relative;
  top: -0.25rem;
}

#check:checked ~ .list-wrapper {
  transform: translateX(0%);
}
.btn-margin {
  margin: 0.5rem 0;
}
.view-country-desktop{
  display: none;
}
.active{
  color: var(--blue-500);
}

@media screen and (min-width: 768px) {
  .nav-wrapper {
      height: 4.687rem;
  }
  .view-country-desktop{
    display:block;
  }
  
  .checkbtn {
      display: none;
  }
  .nav-item {
      font-weight: 400;
      margin: 0 0.5rem;
  }
  .nav-item .view-batch-cta {
      padding: 0.5rem 1.35rem;
      font-size: 1rem;
  }
  .link-with-icon {
      font-weight: 400;
  }
  .btn-margin {
      margin: 0 0.25rem;
  }
  .list-wrapper {
      padding: 0;
      flex-direction: row;
      display: flex;
      width: auto;
      transform: translateX(0%);
      height: auto;
      position: static;
      background-color: transparent;
      align-items: center;
  }
}