.m-tb {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.offering-card-wrapper {
  background-color: var(--blue-800);
  display: flex;
  flex-direction: column;
  color: white;
  padding: 2rem 1.5rem 1.25rem;
}
.offering-card-wrapper_para {
  opacity: 0.8;
}
.offering-card-wrapper_para,
.offering-card-wrapper_heading {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: bolder;
}
.offering-card-wrapper_heading {
  font-size: 26px;
  margin-bottom: 2rem;
}

.offering-card {
 
  padding: 1rem;
  min-height: 272px;
  max-width: 274px;
  margin: auto;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 8px;
}
.offering-card_heading {
  margin-top: 1rem;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
.offering-card_sub-heading{
    color: black;
    margin:0.5rem 0
}
.offering-list {
  list-style: none;
}
.offering-list li {
  color: var(--grey-600);
  margin: 0.5rem 0;
}
.offering-list li::before {
  content: "\2022";
  color: var(--pink-400);
  font-weight: bolder;
  display: inline-block;
  width: 1em;
}
.last-card{
    margin-bottom: 2rem;
}

@media (min-width:768px){
  .offering-card-wrapper{
    flex-direction: row;
    padding: 100px 145px;
  }
  .offering-cards-wrapper{
    display: flex;
    flex-direction: row;
  }
  .offering-card-wrapper_para,.offering-card-wrapper_heading{
    text-align: left;
    line-height: 1.4;
  }
  .offering-card-wrapper_heading{
    font-size: 40px;
  }
  .offering-card{
    margin: 0 1rem;
    min-width: 245px
  }
  .offering-card:last-child{
    margin-bottom: 0;
  }

} 
