
.testimonials{
    padding: 0 1.125rem;
}
.testimonials-heading {
    color: var(--blue-700);
    margin: 1rem 0;
    font-size: 1.625rem;
    font-weight: 900;
    line-height: 1.6;
  }
  .testimonials-wrapper{
      display: flex;
      overflow-x: hidden;
  }
  .testimonial-1,.testimonial-2{
      width: 18.875rem;
      height: 26.75rem;
  }

  @media(min-width:768px){
      .testimonials{
          max-width: 1150px;
          margin: auto;
          padding: 4.375rem 0;
      }
      .testimonials-heading{
          font-size: 2.5rem;
      }
      .testimonial-1,.testimonial-2{
        width: 21.937rem;
        height: 31.125rem;
        margin-right: 1.5rem;
    }
  }