.course-variants {
  background-color: var(--blue-800);
  padding: 18px;
}
.course-variants_heading {
  margin: 1rem 0;
  color: white;
  font-size: 26px;
  line-height: 1.6;
}
.variant-card {
  position: relative;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 4px;
  box-shadow: 0px 3px 6px #00000029;
  min-height: 486px;
}
.live-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 4px;
  background-color: var(--blue-400);
  font-weight: 700;
  padding: 5px;
}
.variant-card_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.variant-card_price {
  margin: 1rem 0;
}
.price-wrap {
  margin-left: 0.75rem;
}
.old-price {
  color: var(--grey-450);
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: line-through;
  text-decoration-color:var(--red-500);
}
.new-price {
  font-size: 2.5rem;
  font-weight: 800;
}
.variant-list-wrapper {
  flex-grow: 1;
}
.variant-list {
  list-style: none;
}
.variant-list li {
  margin: 0.5rem;
  display: flex;
}
.variant-list li::before {
  content: "\2022";
  color: var(--blue-800);
  font-weight: bolder;
  display: inline-block;
  width: 1em;
  height: 1rem;
}
.buy-course-cta {
  padding: 10px 0;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 3px;
  border: none;
  background-color: var(--blue-500);
  color: white;
}
.popularity-badge {
  background-color: var(--pink-400);
  color: white;
  font-size: 11px;
  font-weight: 700;
  padding: 8px 10px;
  border-radius: 14px;
  margin-left: -1rem;
}
.bold{
    font-weight: 700;
}
.extra-offer{
    color: white;
    margin: 2rem 0;
}
